<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tables</title>
</head>
<body>
    <section class="section-table">
        <div class="col span-2-of-2">
            <h2>Tree</h2>
        </div>
        <div class="table-1">
            <table>
                <thead>
                <tr>
                    <th>Node number</th>
                    <th>Parent</th>
                    <th>Children</th>
                    <th>Sum of path numbers</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="node : ${nodes}">
                    <tr>
                        <td th:text="${node}">Node'</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>



        <div class="table-but">

            <form th:action="@{/add}" th:object="${formNode}" method="post">
            <div class="table-but-1 col span-1-of-6">
                Input number:
                <input th:field="*{number}" type="text"/>
                Choose parent's id:
                <select th:field="*{selectedNode}">
                    <option th:each="choice : ${nodes}"
                            th:value="${choice.id}"
                            th:text="${choice.id} ">
                    </option>
                </select>
                <input type="submit" value="ADD"/>
            </div>

            </form>


            <form th:action="@{/modify}" th:object="${formNode}" method="post">
            <div class="table-but-2 col span-1-of-6">
                Input new value:
                <input th:field="*{number}" type="text"/>
                Choose node's id you wish to update:
                <select th:field="*{selectedNode}">
                    <option th:each="choice : ${nodes}"
                            th:value="${choice.id}"
                            th:text="${choice.id} ">
                    </option>
                </select>
                <input type="submit" value="UPDATE"/>
            </div>
            </form>

            <form th:action="@{/delete}" th:object="${formNode}" method="post">
            <div class="table-but-3 col span-1-of-6">
                Choose node's id you wish to delete:
                <select th:field="*{selectedNode}">
                    <option th:each="choice : ${nodes}"
                            th:value="${choice.id}"
                            th:text="${choice.id} ">
                    </option>
                </select>
                <input type="submit" value="DELETE"/>
            </div>
            </form>



        </div>

    </section>

</body>
</html>